main {
  background-color: ghostwhite;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background: lightblue;
  width: 100%;
  padding: 40px;
  border-bottom: 5px solid darkblue;
}

li {
  font-size: 25px;
}

a {
  color: darkblue;
  cursor: pointer;
  text-decoration: none;
}

li:hover {
  background-color: aliceblue;
}

article {
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 75px;
  padding: 50px;
}

img {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid gainsboro;
}

p {
  border: 5px solid darkblue;
  color: darkblue;
  background-color: lightblue;
  padding: 10px;
}

#about-me {
  font-size: 40px;
}

.about-me-section {
  text-align: center;
  align-self: center;
}

#projects {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.project-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 30px;
}

.project-items {
  background-color: lightblue;
  border: 5px solid darkblue;
  text-align: center;
  height: 40px;
}

.project-items:hover {
  transform: scale(1.5);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-top: 5px solid darkblue;
  color: darkblue;
}

#message {
  height: 100px;
}
