* {
  padding: 0;
  margin: 0;
}

main {
  background-color: ghostwhite;
}

nav {
  border-bottom: 5px solid firebrick;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background: silver;
  padding: 20px;
  border-bottom: 5px solid firebrick;
}

li {
  font-size: 25px;
}

a {
  color: white;
}

article {
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 50px;
}

img {
  display: flex;
  align-self: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.about-me {
  text-align: center;
  align-self: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: firebrick;
  border-top: 5px solid silver;
}

#message {
  height: 100px;
}
