main {
  background-color: ghostwhite;
}

nav {
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background: grey;
  width: 100%;
  padding: 40px;
  border-bottom: 5px solid firebrick;
}

li {
  font-size: 25px;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

li:hover {
  background-color: darkgray;
}

article {
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 50px;
}

img {
  display: flex;
  align-self: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-right: 10px;
}

.about-me-section {
  text-align: center;
  align-self: center;
  float: right;
}
/*
.project-list {
  display: grid;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: firebrick;
  border-top: 5px solid silver;
}

#message {
  height: 100px;
}
